

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498DB;
}

.wrapper{
    height: 260px;
    max-width: 410px;
    background: #fff;
    
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;

}

.wrapper.active{
    height: 530px;
}

header h1{
    font-size: 21px;
    font-weight: 500;
}

header p{
    margin-top: 5px;
    color: rgb(26, 10, 162);
    font-size: 16px;
}

.wrapper .form{
    margin: 20px 0 10px;

}

.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid#999;
}

.form button{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #3498DB;

}
.wrapper .qr-code{
    height: 300px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;

} 